@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
	margin:0;
	padding: 0;
}

/*-------------ABOUT-US-----------------*/
body{
  background-color: #f5f5f5;
}

.box{
  padding: 2%;
}

.box-dos{
  padding-top:4%;
  padding-bottom: 4%;
}


.text-center:{
  text-align: center;
}

.title-green{
    background-color: #2ecc71;
    color: white;
    padding: 130px 0 70px;
}

.title-green h1{
  font-size: 30px;
  font-weight: 200;
}

.title-green p{
  font-weight: 100;
}

.breadcrumb{
    background-color: #2ecc71;
    padding-top: 7%;
    font-size: 16px;
    color:white;
}

ul.breadcrumb.pull-right li a, ul.breadcrumb.pull-right li{
    color: white;
    font-weight: 100;
}

ul.breadcrumb.pull-right li a:hover{
    text-decoration: none;
    color:#34495e;
    font-weight: 400;
}

.whatweare{
  padding-top: 5%;
  padding-bottom: 5%;
}
.whatweare h1{
  font-weight: 200;
  color:#34495e;
  padding-bottom: 1%;
}

.whatweare h2{
  font-weight: 200;
  color:#34495e;
  padding-bottom: 2%;
}

.whatweare p{
  font-weight: 200;
  color:#34495e;
}

.whatweare h5{
  font-weight: 200;
  color:#34495e;
}

.progress {
    height: 30px;
    line-height: 30px;
    background: white;
}
/*REDES-SOCIALES*/
a.btn.btn-social.btn-facebook{
  background-color:#4f7dd4;
  height:35px;
  width: 35px;
  border-radius: 50%;
  color:white;
  line-height: 20px;
}

a.btn.btn-social.btn-google-plus{
  background-color:#dc422b;
  height:35px;
  width: 35px;
  border-radius: 50%;
  color:white;
  line-height: 20px;
}

a.btn.btn-social.btn-twitter{
  background-color:#5bceff;
  height:35px;
  width: 35px;
  border-radius: 50%;
  color:white;
  line-height: 20px;
}

a.btn.btn-social.btn-linkedin {
  background-color:#21a6d8;
  height:35px;
  width: 35px;
  border-radius: 50%;
  color:white;
  line-height: 20px;
}

.text-center p{
  padding-bottom: 3%;
}
/*-------------ABOUT-US-----------------*/


/*MEDIA QUERIES*/

@media screen and (min-width: 320px) and (max-width: 480px) {
        .whatweare h1{
          margin-top: 20%;
          margin-bottom: 5%;
        }
        .whatweare h2{
          margin-top: 20%;
        }

        .whatweare p{
          margin-bottom: 10%;
        }

        a.btn.btn-social.btn-facebook,a.btn.btn-social.btn-google-plus,a.btn.btn-social.btn-twitter,a.btn.btn-social.btn-linkedin{
              width: 20px;
              height: 26px;
        }

        i.icon-facebook{
          position: relative;
          bottom:2px;
          right:2px;
        }
        
        i.icon-google-plus{
          position: relative;
          bottom:2px;
          right:5px;
        }
          
        i.icon-twitter{
          position: relative;
          bottom:2px;
          right:5px;
        }

        i.icon-linkedin{
          position: relative;
          bottom:4px;
          right:5px;
        }

        .whatweare {

          padding-bottom: 20%;

}

